@media all and (max-width: 1020px) {

}

@media screen and (max-width: 850px) {

    .links {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 850px) {

    .footerDiv {
        position: relative;
        justify-content: center;
        flex-direction: column;
        min-height: 45px;
        width: 100%;
    }

    .Email {
        position: relative;
        justify-content: center;
        flex-direction: column;
        min-height: 45px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3;
    }


    .homeText {
        position: relative;
    }

    .topnav {
        position: relative;
        justify-content: center;
        flex-direction: column;
        min-height: 45px;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .links {
        float: none;
        display: block;
        text-align: left;
    }

    .justifyRelative {
        position: relative;
        justify-content: center;
        flex-direction: column;
        min-height: 45px;
    }


}

.container {
    font-size: medium;
    width: 1400px;

}


.body {
    background-color: #eaeaea;
    font-size: 14px;
    line-height: 18px;

}

.home {
    min-width: 700%;
}

.hr {
    opacity: 0;
}

.page-content {
    /*max-width: 80%;*/
    /*margin: 0 auto !important;*/
    /*float: none !important;*/
}

.a-tabs {
    text-decoration: none;
}

.col-tab {
}


.top-title {
    align-items: center;
    display: flex;
    justify-content: center;
}

.card {
    border: none;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.10);
}

.card-header {
    text-align: center;

}

.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

.cards {
    padding: 3px;
    margin: 10px;
}

.slider {
    margin: 10px;
    align-items: flex-start;
}

.top-bar {
    background-color: #f1f1f1;
    width: 100%;

}

.caption {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 30px;
}

.carousel-indicators {
    background-color: currentcolor;
}

.index-tabs {
    flex-wrap: wrap;
    justify-content: center;
    flex: auto;
    cursor: pointer;
    text-align: center;
    min-width: 100%;


}

.top-apps {
    padding: 5px;
    margin: 15px;
    height: 250px;

}

.top-apps-row {
    box-shadow: none;

}

.top-app-card {
    box-shadow: none;
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25px
}

.footerStyle {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10rem;
    padding: 1rem 1rem;
    background-color: gray;
}

.p {
    margin-top: 1rem;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    width: 100%;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav links:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav links.active {
    background-color: #04AA6D;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    float: left;
    height: 100%;
    width: 100%;
}


.homeText {
    float: left;
}

.links {

}

.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social > a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: black;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

.imgContainer {
    padding: 3px;
    margin: 10px;
    position: relative;
    justify-content: center;
    flex-direction: column;
    min-height: 45px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    overflow: visible
}

.footerDiv {
    width: 100%;
    padding: 3px;
    margin: 10px;
}


/*.main {*/
/*    background: beige;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/